<body>
<div id="loginForm">
  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <div id="loginLogo">
          <img src="../../../../assets/images/titlegame.png" height="75" width="200"/>
        </div>
        <img id="miscarmenLogin" src="../../../../assets/images/miscarmen(front).png" height="200" width="200"/>
        <img id="loginMainLogo" src="../../../../assets/images/titlegame.png" height="75" width="200"/>
        <form class="login" [formGroup]="passwordForm">
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input formControlName="password" type="text" class="login__input" placeholder="New password">
            <span id="usernameInput" class="text-danger" *ngIf="passwordForm.controls['password'].touched && passwordForm.controls['password'].errors?.['required']">Password is required</span>
            <span id="usernameInput" class="text-danger" *ngIf="passwordForm.controls['password'].touched && passwordForm.controls['password'].errors?.['invalidPassword']">Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercaseletter and 1 number</span>
            <br>
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input formControlName="passwordConfirm" type="text" class="login__input" placeholder="Confirm password">
            <span id="usernameInput" class="text-danger" *ngIf="passwordForm.controls['passwordConfirm'].touched && passwordForm.controls['passwordConfirm'].errors?.['required']">Password confirmation is required</span>
            <span id="usernameInput" class="text-danger" *ngIf="passwordForm.controls['passwordConfirm'].touched && passwordForm.controls['passwordConfirm'].errors?.['passwordMismatch']">Passwords are not the same</span>
          </div>
          <button class="button login__submit" type="submit" (click)="passwordChange()">
            <span class="button__text">Submit</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>
        </form>
        <div class="social-login">
          <div class="social-icons">
            <a href="#" class="social-login__icon fab fa-instagram"></a>
            <a href="#" class="social-login__icon fab fa-facebook"></a>
            <a href="#" class="social-login__icon fab fa-twitter"></a>
          </div>
        </div>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>
    </div>
  </div>
</div>
</body>

