<div id="pokedexDiv">
  <img id="pokedex" src="assets/images/pokedexnotpng.PNG">
  <div id="dpad">
    <nav class="d-pad">
      <a class="up" (click)="getMapDetail()"></a>
      <a class="right" (click)="getNextCharacter()"></a>
      <a class="down"></a>
      <a class="left" (click)="getPreviousCharacter()"></a>
    </nav>
  </div>
</div>
<div class="pbj-pokemon-card">
  <div id="ewamonCardinfo">
    <div class="background type-1" id="{{character.name}}">
      <div class="type-2 " id="{{character.description}}"></div>
      <div class="bg-shine"></div>
      <div class="bg-overlay"></div>
    </div>
    <div class="foreground">
      <div class="pokemon-box">
        <img [src]="character.imagePath" width="250" height="250"/>
        <div id="cardTypeName">
          <span class="name">{{character.name}}</span>
          <div class="types">
            <span class="type">{{character.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  <div id="buttonsDiv">-->
  <!--    <br>-->
  <!--    <button class="previous round" (click)="getPreviousEwamon()"> < </button>-->
  <!--    <div class="space">-->
  <!--    </div>-->
  <!--    <button class="next round" (click)="getNextEwamon()"> > </button>-->
  <!--  </div>-->
</div>
